
.container{
    width: 100%;
    // margin-bottom: 20px;
    min-height: calc(100vh - 1px);
    background: #111;
    color: beige;
    .container_titel{
        padding: 20px;
        margin-bottom: 20px;
        .list_titel{
            max-width: 1000px;
            margin: 0 auto;
            list-style: none;
            .item{
                width: 100px;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 10px;
                text-align: center;
                background: #db5d5d;
            }
        }
    }
}