.Bedroom{
    padding-top: 80px;
    padding-bottom: 26px;
    .container{
        max-width: 1160px;
        margin: 0 auto;
    }
    .compilationList{
        position: relative;
    }
    .list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;   
    }
    .item_card{
        max-width: 216px;
        height: 431px;
        display: grid;
        justify-self: center;
        border-radius: 6px;
        background: #E0E0E0;

    }
    .card{
        position: relative;
        img{
            width: 216px;
            height: 216px;
            margin-bottom: 15px;
            border-radius: 6px 6px 0px 0px;
        }
        &_context{
            padding: 0px 15px 20px 15px;
            p{
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            h3{
                margin-bottom: 15px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .btn{
                width: 186px;
                height: 45px;
                padding-right: 91px;
                flex-shrink: 0;
                border-radius: 6px;
                background: var(--Black, #000);
                background-image: url('../CompilationOne/assets/add.svg');
                background-repeat: no-repeat;
                background-position: right 0 center;
                background-position-x: 150px;
                color: #FFF;
            }
        }
    }
}

.sales{
    position: absolute;
    top: 22px;
    left: 22px;
    padding: 6px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--White, #FFF);
}

.old_price{
    position: relative;
    p{
        font-size: 13px;
    }
    
    .line{
        position: absolute;
        top: 10px;
        left: 0;
        width: 56px;
        height: 1px;
        background: #000;
        transform: rotate(-5deg);
    }
}


.prev_btn{
    position: absolute;
    top: 50%;
    left: -5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #000;
    color: #FFF;
    text-align: center;
    p{
        position: relative;
        top: 30%;
        left: 0;
    }
}

.next_btn{
    position: absolute;
    top: 50%;
    right: -5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #000;
    color: #FFF;
    text-align: center;
    p{
        position: relative;
        top: 30%;
        left: 0;
    }
}