

.Hero{
    margin-bottom: 79px;
    .container{
        max-width: 1160px;
        margin: 0 auto;

    }
    &_titels{
        max-width: 1120px;
        height: 120px;
        padding-top: 91px;
        padding-bottom: 90px;
        padding-left: 40px;
        border: 0px solid #fff;
        background-image: url(./assets/Hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
    }
}

.item_Breadcrumbs{
    p{
        font-size: 12px;
        margin-bottom: 15px;
    }

}

.item_titel{
    h2{
        font-size: 48px;
        margin-bottom: 15px;
        font-weight: 700; 
    }

}

.item_subTitel{
    p{
        font-size: 16px;
    }

}