
.PhotoVideo{
    margin-bottom: 80px;
    .container{
        max-width: 1160px;
        margin: 0 auto;
    }
    &_titels{
        margin-bottom: 30px;
        h2{
            font-size: 48px;
            font-weight: 700;
        }
    }
    &_slider{
        height: 160px;
        margin-bottom: 79px;
        overflow: hidden;
    }
    &_text{
        max-width: 860px;
        p{
            font-size: 16px;
            color: #000;
        }
    }
}

.swiper_nav_btns{
    button {
        width: 60px;
        height: 50px;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: hsl(210, 100%, 50%);
        color: #fff;
        margin: 0px 0.5rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        margin-top: 30px;
        transition: all .5s;
    }
    button:hover {
        background-color: hsl(210, 100%, 40%);
        cursor: pointer;
    }
      
}

.sliderLine{
    position: relative;
    left: -280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: hidden;

    .item_photo{
        margin-right: 20px;
    }
    .item_video{
        margin-right: 20px;
    }
}