
.Header{
    height: 46px;
    background: var(--Light-grey, #EEE);
    .container{
        position: relative;
        max-width: 1160px;
        padding-top: 16px;
        padding-bottom: 15px;
        margin: 0 auto;
        color: #000;
    }
    &__nav{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    &__line{
        max-width: 1160px;
        margin: 0 auto;
        height: 1px;
        opacity: 0.3;
        background: #000;
    }
    // justify-items: center;
}

.item_location{
    height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &__icon{
        width: 15px;
        height: 15px;
    }
    &__text{
        font-weight: 700;
    }
}

.item_menu{
    display: grid;
    justify-items: center;
    &__list{
        display: flex;
        flex-direction: row;

        list-style: none;
        li{
            margin-left: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style: none;
        }
        select{
            border: 0px solid #fff;
            background: #eee;
        }
    }

}

.item_contact{
    display: grid;
    justify-items: end;
    a{
        text-decoration: underline;
    }
}

.header__burger_btn{
    // position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid #000;
    width: 40px;
    height: 30px;
    background: #EEE;
    z-index: 2;
}
.header__burger_btn span{
    width: 30px;
    height: 3px;
    background-color: #000;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header__burger_btn:hover{
    cursor: pointer;
}

.active_menu{
    position: absolute;
    top: 90%;
    width: 320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: #eee;
    li{
        margin-bottom: 20px;
    }
}

@media (max-width: 1250px) {
    .item_menu__list{
        display: none;
    }
    .header__burger_btn{
        display: flex;
    }
}
