h1{
  font-family: 'Space Mono', monospace;
  font-size: 64px;
}
h2{
  font-size: 48px;
  font-weight: 700;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

a{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;
}