h1{
  font-family: 'Space Mono', monospace;
  font-size: 64px;
}
h2{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

a{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: black;
}